*{
  box-sizing: border-box;
}

header img {
  width: 600px;
}

body{
 background-color: #5dbcf3;
 font-size: 18px;
}

header, .progress-score {
  text-align: center;
  font-weight: bold;
}

.progress-score li {
  display: inline-block;
}

.banner-img {
  width: 75px;
  height: 75px;
  margin-right: 20px;
  vertical-align: middle;
}
.start-quiz, .start-over {
   background-color: white;
   border-radius: 10px;
   text-align: center;
   max-width: 800px;
   min-width: 320px;
   margin: 20px auto;
   padding: 10px;
   font-weight: bold;
}

.quiz-questions {
  background-color: white;
  border-radius: 10px;
  text-align: left;
  max-width: 800px;
  min-width: 320px;
  margin: 20px auto;
  padding: 10px;
}

.question-form p {
  font-weight: bold;
}

.question-options {
  list-style-type: none;
  padding:0 0 0 10px; 
}

.question-options li {
  list-style-type: none;
  padding: 10px 0;
}

.button {
  margin: 10px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 15px;
}

.feedback {
  display: block;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
}